<% provide :title, t(".title") %>
<h1><%= t".title" %></h1>
<p>
  <%= t ".help_at" %>
  <%= link_to  t(".help_section"), "https://www.railstutorial.org/help" %>.
  <%= t ".help_app" %>
  <%= link_to  t(".book"), "https://www.railstutorial.org/book" %>.
</p>
